<div id="v4-pre-loaded">
  <div class="loading"></div>
</div>
<img src="/img/blog/logo-search.jpg" alt="luuman" style="visibility:hidden;position: absolute;top: 0;left: 0;" />
<a class="music-wrap" id="smohan-v4-music" rel="title-tip" data-music-src="/music/Asher Book - Try.mp3" data-music-flag="Y" title="Asher Book - Try"><img src="/music/Asher Book - Try.jpg" alt="音乐播放器" /><span class="switch"><i></i></span></a>
<a class="u-menu-btn" title="导航" rel="title-tip"><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span></a>
<div class="nav-mask">&nbsp;</div>
<script src="/js/jquery.js"></script>

<%- partial('_blog/simple/nav') %>
<article id="smohan-v4-container">
  <%- partial('_blog/simple/section1') %>
  <%- partial('_blog/simple/section2') %>
  <%- partial('_blog/simple/section3') %>
  <%- partial('_blog/simple/section4') %>
  <%- partial('_blog/simple/section5') %>
</article>
<script src="/js/luuman.scrollPage.min.js"></script>
<%- partial('_blog/simple/blog') %>
<%- partial('_partial/anlytics/baidu') %>